<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">


        <!-- SEO tags -->
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="{% block author %}{% endblock %}">
        <meta name="robots" content="{% block robots %}{% endblock %}">

        <!-- OG open graph tags for facebook -->
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
        <meta property="og:description" content="{% block ogdescription %}{% endblock %}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{% block ogurl %}{% endblock %}">
        <meta property="og:image" content="{% block ogimage %}{% endblock %}">
        <meta property="og:site_name" content="20Services">

        <!-- Twitter tags -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="{% block twittertitle %}{% endblock %}">
        <meta property="twitter:description" content="{% block twitterdescription %}{% endblock %}">
        <meta property="twitter:image" content="{% block twitterimage %}{% endblock %}">

        <link rel="canonical" href="{% block pageurl %}{% endblock %}">

        <link rel="icon" type="image/png" href="https://knownblue.com{% static 'front-end/img/logo.png' %}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'front-end/lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'front-end/lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'front-end/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tb-contact">
                            <p><i class="fas fa-envelope"></i>knownblueofficial@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tb-menu">
                            <a href="{% url 'GetSingleArticle' 'blog' 'about-us' %}">About</a>
                            <a href="{% url 'GetSingleArticle' 'blog' 'privacy-policy' %}">Privacy</a>
                            <a href="{% url 'GetSingleArticle' 'blog' 'terms-conditions' %}">Terms & Conditions</a>
                            <a href="{% url 'ContactUs' %}">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar Start -->

        <!-- Brand Start -->
        <div class="brand">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="b-logo">
                            <a href="{% url 'Home' %}">
                                <img src="{% static 'front-end/img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">

                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="b-search">
                            <form action="{% url 'SearchArticle' %}" method="get">
                                <input name="q" type="text" placeholder="Search" required>
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand End -->


        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="{% url 'Home' %}" class="navbar-brand">KnownBlue</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="{% url 'Home' %}" class="nav-item nav-link {% block homeActive %}{% endblock %}">Home</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle {% block categoryActive %}{% endblock %}" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu">
                                    {% for category in Categories %}
                                        <a href="{% url 'CategoryArticles' category.category_slug %}" class="dropdown-item">{{ category.category_name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a href="{% url 'GetSingleArticle' 'blog' 'about-us' %}" class="nav-item nav-link">About Us</a>
                            <a href="{% url 'ContactUs' %}" class="nav-item nav-link {% block contactActive %}{% endblock %}">Contact Us</a>
                        </div>
                        <div class="social ml-auto">
                            <!--
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Content -->
        {% block content %}

        {% endblock %}


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-envelope"></i>knownblueofficial@gmail.com</p>
                                <!--
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Useful Links</h3>
                            <ul>
                                <li><a href="{% url 'Home' %}">Home</a></li>
                                <li><a href="{% url 'GetSingleArticle' 'blog' 'about-us' %}">About Us</a></li>
                                <li><a href="{% url 'ContactUs' %}">Contact Us</a></li>
                                <li><a href="{% url 'GetSingleArticle' 'blog' 'privacy-policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'GetSingleArticle' 'blog' 'terms-conditions' %}">Terms of use</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul>
                                {% for category in Categories %}
                                    <li><a href="{% url 'CategoryArticles' category.category_slug %}">{{ category.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Footer Menu Start -->
        <div class="footer-menu">
            <div class="container">
                <div class="f-menu">
                    <a href="{% url 'GetSingleArticle' 'blog' 'terms-conditions' %}">Terms of use</a>
                    <a href="{% url 'GetSingleArticle' 'blog' 'privacy-policy' %}">Privacy policy</a>
                    <a href="{% url 'ContactUs' %}">Contact us</a>
                </div>
            </div>
        </div>
        <!-- Footer Menu End -->

        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; 2021 <a href="https://knownblue.com">Knownblue</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
                        <p>Developed by <a href="https://www.facebook.com/engineer.ibbad">Ibbad Ullah</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->

        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'front-end/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'front-end/lib/slick/slick.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'front-end/js/main.js' %}"></script>
    </body>
</html>
