{% extends 'publicsection/base.html' %}
{% load static %}

{% block title %}Contact Us - KnownBlue{% endblock %}

{% block description %}If you have any query feel free to contact us. We will respond you as soon as possible.{% endblock %}
{% block keywords %}contact us knownblue, knownblue email, knownblue contact number{% endblock %}
{% block author %}Ibbad Ullah{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block ogtitle %}Contact Us - KnownBlue{% endblock %}
{% block ogdescription %}If you have any query feel free to contact us. We will respond you as soon as possible.{% endblock %}
{% block ogurl %}https://knownblue.com/contact-us/{% endblock %}
{% block ogimage %}https://knownblue.com{% static 'front-end/img/default_logo.png' %}{% endblock %}

{% block pageurl %}https://knownblue.com/contact-us/{% endblock %}
{% block contactActive %}active{% endblock %}

{% block content %}

        <!-- Contact Start -->
        <div class="contact" style="margin-top: 50px;margin-bottom: 50px">
            <div class="container">
                <h5 style="color: green">{{ Message }}</h5>
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="contact-form">
                            <form method="post" action="{% url 'ContactUs' %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input required name="full_name" type="text" class="form-control" placeholder="Your Name" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input required name="email" type="email" class="form-control" placeholder="Your Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea required name="message" class="form-control" rows="5" placeholder="Message"></textarea>
                                </div>
                                <div><button class="btn" type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-info">
                            <h3>Get in Touch</h3>
                            <p>
                                KnownBlue is one of the best place for scientific content. You can find useful and quality content on KnownBlue.com. Our aim is to bring high quality content in order to help people.
                            </p>
                            
                            <h4><i class="fa fa-envelope"></i>knownblueofficial@gmail.com</h4>

                            {% comment %}<div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </div>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


{% endblock %}
